*{
  padding: 0;
  margin: 0;
}

.loader-container {
  position: relative;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite alternate,
    changeColor 2s linear infinite;
}

.ball1 {
  animation-duration: 1.5s;
}

.ball3 {
  animation-duration: 0.8s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes changeColor {
  0%,
  100% {
    background-color: #3498db;
  }
  50% {
    background-color: #e74c3c;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader1 {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}